.image{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.details{
  border: 2px solid gray;
  border-radius: 10px;
  height: auto;
  width: 100%;
  text-align: left;
  padding: 10px;
}


.comment {
  margin-right: 20px;
  margin-bottom: 20px;
}

.userInfo{
  font-size: large;
  border-bottom: 1px solid gray;
  text-align: center;
}