

.left{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    border-right: 2px solid black;
}

.left img{
    margin: 1px;
    width: 300px;
    height: 300px;
    border-radius: 10%;      
}



.right{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: left;
    
}

.right h5{
    margin-top: 30px;
    text-transform: bold;
}

.right p{
    height: 44;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
    border-bottom: 1px solid black;
    
}


